.logo img {
    margin-top: -5px;
}

.dropdown {
    height: 50px !important;
}

    .dropdown .dropdown-toggle {
        height: 50px !important;
        padding-top: 12px !important;
    }

footer > p > a {
    color: #5a5a5a;
}

    footer > p > a:hover {
        color: #5a5a5a;
        text-decoration: underline;
    }
