$md-font-url: '../fonts/';
@import "covalent/font";
@import "covalent/variables";
@import "covalent/button";
@import "covalent/card";
@import "covalent/card-colored";
@import "covalent/chips";
@import "covalent/content";
@import "covalent/divider";
@import "covalent/icons";
@import "covalent/input";
@import "covalent/mixins";
@import "covalent/navigation-drawer";
@import "covalent/theme-functions";
@import "covalent/palette";
@import "covalent/palette-dark";
@import "covalent/colors";
@import "covalent/colors-dark";
@import "covalent/layout";
@import "covalent/list";
@import "covalent/structure";
@import "covalent/shadows";
@import "covalent/sidenav";
@import "covalent/toolbar";
@import "covalent/typography";
@import "covalent/whiteframe";
@import "covalent/utilities/utilities";

$app-content-lg: 940px;
$app-content-md: 580px;
$app-content-sm: 360px;
